<!DOCTYPE html>
<html>
<head>
	<title>LEAF DETECTION</title>
</head>
<body>
	<h1 align="center">PLANT LEAF DETECTION PORJECT</h1>
	<h2>Hi welcome to my webapp.<br>Please enter an image of a plant leaf.</h2>
	<h5 style="color:red">NOTE THE IMAGE SHOULD BE CLEAR AND SHOULD HAVE A WHITE BACKGROUND</h5>
	<form action="imageupload/imageprocess" method="POST" enctype="multipart/form-data">
		{%csrf_token %}
		<input id="image" type="file" name="image"/>
		<input type="submit" value="submit"/>
	</form>
	<h3>This project can currently detect these species of plant</h3>
	<h4><i>'pubescent bamboo','Chinese horse chestnut','Anhui Barberry','Chinese redbud'<br>
		'true indigo','Japanese maple','Nanmu',' castor aralia'<br>
        'Chinese cinnamon','goldenrain tree','Big-fruited Holly','Japanese cheesewood'<br>
        'wintersweet','camphortree','Japan Arrowwood','sweet osmanthus','deodar'<br>
		'ginkgo, maidenhair tree','Crape myrtle, Crepe myrtle','oleander'<br>
		'yew plum pine','Japanese Flowering Cherry','Glossy Privet','Chinese Toon'<br>
		'peach','Ford Woodlotus','trident maple','Beales barberry','southern magnolia'<br>
		'Canadian poplar','Chinese tulip tree','tangerine'</i></h4>
</body>
</html>
